<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <moreira_lowstock>
            <settings>
                <threshold>10</threshold>
                <limit>10</limit>
                <whatsapp></whatsapp>
            </settings>
        </moreira_lowstock>
    </default>
</config>